{% extends 'layout.html' %}

{% block content %}
  <h3>Detail Post</h3>
  <div class="kaa-post-detail">
  	<div class="message">
		{{ object.message }}
  	</div>
  	
  	<div class="media">
		{{ object.media }}
  	</div>
  	
  	<div class="details">
		<div class="date">{{ object.date_added }}</div>
		<a href="#"><div class="author">{{ object.author }}</div></a>
  	</div>

	{% if user.is_authenticated %}
		<div class="add-reply">
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Add Reply">
			</form>
		</div>
	{% else %}
		<div class="cannot-reply">
			<h3>You are not logged in!</h3>
			<h4>Please login in order to reply!</h4>
		</div>
	{% endif %}

  	<div class="replies">
  	</div>
  </div>
{% endblock %}