{% extends 'layout.html' %}

{% block content %}
  <div class="kaa-post-detail">
  	<div class="message">
		{{ object.message }}
  	</div>
  	
	{% if object.media %}
		<div class="media">
			<img src={{ object.media.url }} />
		</div>
	{% endif %}
  	
  	<br>
  	<div class="details">
  		<div>
  		{% if user == object.author %}
			<a href="{% url 'edit_post' object.pk %}">Edit Post</a>
		{% endif %}
		</div>
		<div class="date">{{ object.date_added }}</div>
		<a href="{% url 'user_profile' object.author.username %}"><div class="author">{{ object.author }}</div></a>
  	</div>

	{% if user.is_authenticated %}	
		
		<div class="add-reply">
			<form method="post">
				{% csrf_token %}
				{{ replyForm.as_p }}
				<input type="submit" value="Add Reply">
			</form>
		</div>
	{% else %}
		<div class="cannot-reply">
			<h3>You are not logged in!</h3>
			<h4>Please login in order to reply!</h4>
		</div>
	{% endif %}

	{% for reply in post.replies.all %}
		<div>
	      <p> 
	          <b> {{ reply.author }} </b>
	          <br>
	          <b> {{ reply.date_added }} </b>
	      </p>
	      <p>
	          {{ reply.message }}
	      </p>
      	</div>
	{% endfor %}

  	<div class="replies">
  	</div>
  </div>
{% endblock %}