{% extends 'layout.html' %}

{% block content %}
  <div class="kaa-post-detail">
  	<div class="message">
		{{ object.message }}
  	</div>
  	
	{% if object.media %}
		<div class="media">
			<img src={{ object.media.url }} />
		</div>
	{% endif %}
  	
  	<br>
  	<div class="details">
  		<div>
  		{% if user == object.author %}
			<a href="{% url 'edit_post' object.pk %}">Edit Post</a>
		{% endif %}
		</div>
		<div class="date">{{ object.date_added }}</div>
		<a href="{% url 'user_profile' object.author.username %}"><div class="author">{{ object.author }}</div></a>
  	</div>

	{% if user.is_authenticated %}	
		
		<div class="add-reply">
			<form method="post">
				{% csrf_token %}
				{{ replyForm.as_p }}
				<input type="submit" value="Add Reply">
			</form>
		</div>
	{% else %}
		<div class="cannot-reply">
			<h3>You are not logged in!</h3>
			<h4>Please login in order to reply!</h4>
		</div>
	{% endif %}

	

  	<div class="replies">
  		{% for reply in post.replies.all %}
  			<div class="post">
				<div class="author">
					<div class="avatar" style="background-image: url({{ reply.author.profile.avatar.url }})"></div>
				</div>

				<div class="content">
					<div class="userplate">
						<span class="name">
						{{ reply.author.profile.first_name }} {{ reply.author.profile.last_name }}
						</span>
						<span class="username">
						<a href="{% url 'user_profile' reply.author.username %}">@{{ reply.author.username }}</a>
						</span>
					</div>
					{{ reply.message }}
					</a>
				</div>

				<div class="details">
					<p class="date">{{ reply.date_added }}</p>
				</div>
			</div>
		{% endfor %}
  	</div>
  </div>
{% endblock %}