{% load compress %}
{% load staticfiles %}

<html>
  <head>
    <title>Kaaster</title>
    {% compress css %}
    <link href="{% static "style.less"%}" media="all" rel="stylesheet" type="text/less"/>
    {% endcompress %}
  </head>
  <body>
    <h1>Welcome to Kaster</h1>
    {% block header %}
    {% endblock %}
    <div class="wrapper">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <footer>
      <span>Copyright &copy; 2016 Kaaster</span>
    </footer>
  </body>
</html>




  
