{% extends 'layout.html' %}

{% block content%}

  <h2> {{ profile.user.username }}'s Profile </h2>
  <div>
    <div class="media">
      <img src={{ profile.avatar.url | default:"" }} />
    </div>
      <p> First Name: {{ profile.first_name | default:"" }} </p>
      <p> Last Name: {{ profile.last_name | default:"" }} </p>
      <p> Email: {{ profile.user.email | default:"" }}</p>
      <p> Birthday: {{ profile.birthday | default:"" }} </p>
      <p> Gender: {{ profile.gender | default:"" }} </p>
  </div>
    {% if user == profile.user %}
      <h5>
        <a href="{% url 'edit_profile' user.username %}">Edit profile</a>
      </h5>
    {% endif %}


{% endblock %}